

@media screen and (max-width: 414px) {
    
    
    .card {
    position: absolute;
    left: 10px;
    top: 17vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/bg-card-front.png);
    box-shadow: 3px 3px 25px #5d5de1;
    background-size: cover;
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    text-align: left;
    height:150px;
    width: 70%;
    padding: 5%;
    font-size: 18px;
}



.card img {
    width: 20%;
}

.iban {
    letter-spacing: 1px;
    word-spacing: 0.1rem;
    margin-top: 5vh;
    margin-bottom: 20px;
    font-size: 20px;
}

.card-owner {
    margin-top: 0px;
    display: flex;
    font-weight: 300;
    font-size: 12px;
    justify-content: space-between;
}

.card-owner > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* Back of Card */

.card-back {
    position: absolute;
    z-index: 2;
    top: 3vh;
    right: 18px;
    border: 1px solid rgb(187, 186, 186);
    color: white;
    border-radius: 7px ;
    height: 160px;
    background-image: url('../../images/bg-card-back.png');
    background-size: cover;
    width: 80%;
}

.card-back p {
    text-align: right;
    margin-top: 70px;
    margin-right: 9vw;
}
}


@media screen and (min-width: 1000px) {
    


    .card {
        position: absolute;
        overflow-y: hidden;
        z-index: 3;
        top: 13vh;
        left: 12vw;
        background-image: url('../../images/bg-card-front.png');
        background-size: 100% 210px;
        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: 1px 1px 9px rgb(14, 14, 14);
        color: white;
        text-align: left;
        height: 210px;
        width: 100%;
    }

    .card img {
        margin-top: 20px;
        margin-left: 5%;
        width: 17%;
    }


    .iban {
        text-align: center;
        letter-spacing: 3px;
        font-size: 1.9vw;
    }

    .card-owner {
        display: flex;
        justify-content: space-between;
        margin-inline: 2vw;
    }




    .card-back {
        position: absolute;
        overflow-wrap: break-word;
        z-index: 2;
        left: 16vw;
        top: 53vh;
        box-shadow: 1px 1px 9px rgb(14, 14, 14);
        color: white;
        border-radius: 10px;
        text-align: left;
        background-image: url('../../images/bg-card-back.png');
        background-size: 100% 190px;
        background-repeat: no-repeat;
        height: 190px;
        width: 96%;
    }

    .card-back p {
        margin-top: 14vh;
        margin-left: 20vw;
        width: fit-content;
    }
    
     

    
}