.App {
  padding: 0px;
  text-align: center;
  overflow-x: hidden;
  border: 1px solid black;
  font-size: 18px;
}

.card-container {
  padding: 0px;
  position: relative;
  z-index: 1;
}

.card-container img {
  width:400px;
}

form {
  text-align: left;
  padding-inline: 2.5vw;
  margin-top: 15vh;
  height: fit-content;
  border: 1px solid blue;
}

form div {
 display: flex;
 flex-direction: column;
 margin-bottom: 2.5vh;
}

form div label {
  font-weight: bolder;
  margin-bottom: 8px;
}

form div input {
  padding-inline: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 7px;
}

.cvc {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  flex-direction: row;
  border: 1px solid blue;
}

.cvc input {
  width: 20%;
}

.cvc  .cvc-number {
  width: 35%;
}